* {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 135px;
}

body {
    background: #2B2C2C;
    color: #CCC;
}

.maxw {
    max-width: 1170px;
    margin: 0 auto;
}

header {
    height: 95px;
    width: 100%;
    margin-top: 20px;
    display: flex;
}

header>div {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header ul {
    list-style: none;
    display: flex;
}

header li a {
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
    letter-spacing: 0.012em;
    color: #FFF;
    border: 1px solid #000;
    text-decoration: none;
}

header li:not(:first-of-type) {
    margin-left: 42px;
}

.intro {
    padding-top: 70px;
    padding-bottom: 250px;
}

.intro h6 {
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.075em;
    color: #FFFFFF;
}

.intro h1 {
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    letter-spacing: 0.012em;
    color: #FFFFFF;
    margin-top: 10px;
}

.intro p {
    font-weight: 500;
    font-size: 23px;
    line-height: 35px;
    margin-bottom: 45px;
}

h1>span {
    color: #FEB633;
}

.btn {
    padding: 14px 70px;
    border: 1px solid #FEB633;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: #FEB633;
    background: transparent;
    box-sizing: border-box;
    height: 60px;
    width: 260px;
}

/*csstricks flexbox*/