* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-style: normal;
}

.container {
    padding: 0 135px;
}

body {
    background: #2B2C2C;
    color: #CCC;
}

.maxw {
    max-width: 1170px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 30px;
}

header {
    height: 95px;
    width: 100%;
    margin-top: 20px;
    display: flex;
}

header>div {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header ul {
    list-style: none;
    display: flex;
}

header li a {
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
    letter-spacing: 0.012em;
    color: #FFF;
    border: 1px solid #000;
    text-decoration: none;
}

header li:not(:first-of-type) {
    margin-left: 42px;
}

.intro {
    padding-top: 185px;
    padding-bottom: 250px;
    position: relative;
}

.intro h6 {
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.075em;
    color: #FFFFFF;
}

.intro h1 {
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    letter-spacing: 0.012em;
    color: #FFFFFF;
    margin-top: 10px;
}

.intro p {
    font-weight: 500;
    font-size: 23px;
    line-height: 35px;
    margin-bottom: 45px;
}

h1>span {
    color: #FEB633;
}

.btn {
    padding: 14px 70px;
    border: 1px solid #FEB633;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: #FEB633;
    background: transparent;
    box-sizing: border-box;
    height: 60px;
    min-width: 260px;
}

.right {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    right: 135px;
}

.about-me {
    padding-top: 120px;
    padding-bottom: 210px;
}

.am-title {
    grid-column: span 5;
    background-image: url("/assets/img/about_shap_bg\ 1.png");
    background-size: cover;
}

.am-content {
    grid-column: span 7;
}

.am-title h2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    align-self: center;
}

.am-content p {
    font-size: 16px;
    line-height: 28px;
}

.am-content>div {
    margin-top: 45px;
    display: flex;
    gap: 30px;
    justify-content: flex-start;
}

.am-content button {
    font-size: 20px;
    line-height: 35px;
    border-radius: 4px;
    background-color: #FEB633;
    color: #FFFFFF;
    border: 2px #FEB633 solid;
    padding: 14px 40px 15px 40px;
}

.am-content button:not(:first-of-type) {
    color: #FEB633;
    background: none;
}

.rectangle {
    grid-column: span 6;
    box-sizing: border-box;
    padding: 60px 80px 64px 80px;
    color: #FFFFFF;
    border-radius: 10px;
    max-width: 570px;
}

.rectangle h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.rectangle p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.blue {
    background: rgba(36, 176, 254, 0.5);
    margin-bottom: 30px;
}

.yellow {
    background: rgba(254, 187, 36, 0.5);
    margin-bottom: 30px;
}

.pink {
    background: rgba(214, 54, 208, 0.5);
}

.green {
    background: rgba(2, 204, 71, 0.5);

}

.rectangle>img {
    height: 58px;
    width: auto;
}